/* Smaller Screens */
@media screen and (max-width: 1200px) {
  .home-banner {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-img {
    height: 150px;
    width: 500px;
    max-inline-size: 100%;
    object-fit: cover;
  }
  .home-carousel-container {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carousel-img {
    height: 200px;
    width: 400px;
    max-inline-size: 100%;
    object-fit: cover;
  }

  .welcome-message {
    position: absolute;
    text-align: center;
    font-size: small;
    font-weight: 200;
    color: #647fa7;
  }
  .welcome {
    font-size: medium;
    padding-bottom: 0;
    margin-bottom: -7px;
    color: #647fa7;
  }
  .home-logo-container {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
  }

  .home-logo img {
    width: 100px;
    min-height: 100px;
  }

  .home-introduction span {
    font-family: auster, sans-serif;
    font-weight: 500;
    color: #647fa7;
    font-size: medium;
  }
  .home-introduction p {
    color: #374244;
    font-weight: 200;
  }

  .home-introduction {
    font-size: small;

    text-align: center;
  }
}
/* Larger Screens  */
@media screen and (min-width: 1200px) {
  .home-container {
    margin-inline: 40px;
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
  }
  .home-img {
    height: 450px;
    width: 1200px;
    max-inline-size: 100%;
    object-fit: none;
  }
  .home-carousel-container {
    margin-inline: 10px;
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
  }
  .home-carousel-container h1 {
    margin-bottom: 0;

    font-family: normalidad-ultraextended, sans-serif;
    font-weight: 200;
  }
  .carousel-img {
    height: 340px;
    width: 1200px;
    max-inline-size: 100%;
    object-fit: none;
  }
  .welcome-message {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: x-large;
    font-weight: 200;
    color: #647fa7;
  }
  .welcome {
    font-size: xx-large;
    padding-bottom: 0;
    margin-bottom: -10px;
    color: #647fa7;
  }
  .home-logo-container {
    display: grid;
    width: 1200px;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .home-logo img {
    width: 240px;
    min-height: 202px;
  }
  .home-logo {
    margin-inline-start: 100px;
  }
  .home-introduction span {
    font-family: auster, sans-serif;
    font-weight: 500;
    color: #647fa7;
    font-size: larger;
  }
  .home-introduction p {
    color: #374244;
    font-weight: 200;
  }

  .home-introduction {
    font-size: x-large;
    margin-right: 240px;
    margin-left: -100px;
    text-align: center;
  }
}
