@media screen and (max-width: 1200px) {
  .shop-container {
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
  }
  .shop-img {
    min-height: 30px;
    height: 70px;
    width: 400px;
    max-inline-size: 100%;
    object-fit: contain;
  }
  .shop-cards-grid {
    max-width: 200px;
    margin-inline: 50px;
  }
  .shop-vinyl-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 5 items per row */
    gap: 10px 10px; /* Adjust gap between items */

    place-content: center;
  }
  .card-vinyl {
    background-color: #b8b2c11b;
    width: 300px;
    height: 450px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .card-vinyls-images {
    margin-top: 20px;
    width: 248px;
  }
  .card-vinyls-images img {
    max-width: 248px;
  }
}

/* Larger Screens  */
@media screen and (min-width: 1200px) {
  .shop-container {
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
  }
  .shop-img {
    min-height: 30px;
    height: 70px;
    width: 1200px;
    max-inline-size: 100%;
    object-fit: contain;
  }
  .shop-cards-grid {
    max-width: 1200px;
    margin-inline: 100px;
  }
  .shop-vinyl-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 5 items per row */
    gap: 10px 100px; /* Adjust gap between items */

    place-content: center;
  }
  .card-vinyl {
    background-color: #b8b2c11b;
    width: 300px;
    height: 450px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .card-vinyls-images {
    margin-top: 20px;
    width: 248px;
  }
  .card-vinyls-images img {
    max-width: 248px;
  }
}
