body {
  font-family: normalidad-wide, sans-serif;
  color: #374244;
}

a,
a:visited,
a:active {
  color: #647fa7;
  text-decoration: none;
}
a:hover {
  color: #346ca3;
  text-decoration: none;
}

.App {
  min-height: 100vh;
}
